{% extends 'base.html' %}

{% block title %}

Lista de profesores

{% endblock %}

{% block contect %}

    <h1>Listado de profesores</h1>
    <nav>
      <form class="form-inline my-2 my-lg-0" action = "/Profesores/list_profesor/" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
    <h2>Crear profesor</h2> <a href="/Profesores/create_profesor/" class="btn btn-primary">Crear</a>
    
  {% for profesor in profesor %}

    <div class="card" style="width: 18rem;">
        <img src="https://images.emojiterra.com/openmoji/v13.1/512px/1f60a.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{profesor.name}}</h5>
          <p class="card-text"> Edad: {{profesor.age}}</p>
          <p class="card-text"> Materia: {{profesor.Materia}}</p>
          <p>Usuario activo? {{profesor.activo}}</p>
          <a href="/Profesores/update_profesor/{{profesor.id}}/" class="btn btn-primary">Actualizar</a>
          <a href="/Profesores/delete_profesor/{{profesor.id}}/" class="btn btn-danger">Borrar</a>
        </div>
      </div>


        
  {% endfor %}

{% endblock %}