{% extends 'base.html' %}

{% block title %}

Lista de Alumnos

{% endblock %}

{% block contect %}

    <h1>Listado de alumnos</h1>
    <nav>
      <form class="form-inline my-2 my-lg-0" action = "/Alumnos/list_alumno/" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav> 
    <h2>Crear alumno </h2> <a href="/Alumnos/create_alumno/" class="btn btn-primary">Crear</a>
    
  {% for alumno in alumno %}

    <div class="card" style="width: 18rem;">
        <img src="https://images.emojiterra.com/openmoji/v13.1/512px/1f60a.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{alumno.name}}</h5>
          <p class="card-text"> Edad: {{alumno.age}}</p>
          <p>Usuario activo? {{alumno.activo}}</p>
          <a href="/Alumnos/update_alumno/{{alumno.id}}/" class="btn btn-primary">Actualizar</a>
          <a href="/Alumnos/delete_alumno/{{alumno.id}}/" class="btn btn-danger">Borrar</a>
        </div>
      </div>


        
  {% endfor %}

{% endblock %}