{% extends 'base.html' %}

{% block title %}

Lista de Alumnos

{% endblock %}

{% block contect %}

    <h1>Listado de alumnos</h1>
    <h2>Crear alumno </h2> <a href="/Alumnos/create_alumno/" class="btn btn-primary">Crear</a>
    
  {% for alumno in alumno %}

    <div class="card" style="width: 18rem;">
        <img src="https://images.emojiterra.com/openmoji/v13.1/512px/1f60a.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{alumno.name}}</h5>
          <p class="card-text"> Edad: {{alumno.age}}</p>
          <p>Usuario activo? {{alumno.activo}}</p>
          <a href="#" class="btn btn-primary">Ver</a>
        </div>
      </div>


        
  {% endfor %}

{% endblock %}